body{
	font-family: 'Baloo Chettan 2', cursive;
	font-family: 'Prompt', sans-serif;

	background-color: #f0e6ea;
}
.container{
	width: 960px;
	margin: 0 auto;
}
header{
    background-color: #000;
    color: #fff;
    width: 100%;
}
header>a>img{
	padding-left: 29px;
    padding-top: 10px;
}
header h1{
	color: #fff;
	font-size: 30px;
	margin-left: 505px;
	display: inline-block;
}
.inform,.status{
	display: inline-block;
	width: 350px;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	border-radius: 20px;
	margin: 50px 0px 30px 92px;
}
.inform{
	background-color: #ed9ab8;
}
.inform img,.status img{
	width: 340px;
	border-radius: 5%;
}
.status{
	background-color: #9aeda3;
}
.box a{
	color: #71350b;
	text-decoration: none;
	width: 100%;
    display: block;
}
/*------page>> inform.php-------------*/
form[name=data]{
	margin-top: 20px;
	margin-left: 124px;
}
form[name=data] input{
	margin-left: 50px;
}
h2{
	font-size: 25px;
	padding-top: 10px;
}
label{
	font-size: 18px;
    width: 250px;
    display: inline-block;
    padding-top: 10px;
}
input[type=submit]{
	background-color: darkseagreen;
    width: 100px;
    color: #fff;
    height: 37px;
    border-radius: 0%;
    border: 1px solid #fff;
    cursor: pointer;
}
/*----page>>>result.php------*/
.tracking{
	font-size: 28px;
	color: red;
}
p{
	color:blue;
}
.result th{
	font-size: 20px;
    width: 325px;
    padding-top: 10px;
}
.result td{
	font-size: 20px;
    padding-top: 10px;
}
/*----page>>>status.php------*/
form[name=checkstatus] input{
	height: 30px;
}
/*----page>>>updatestatus.php------*/
.upstatus{
	font-size: 30px;
	text-align: center;
}
/*----page>>>admin.php------*/
.admin{
	background-color: #d4b687;
}
.left{
	float: left;
	padding: 10px;
}
.right{
	float: right;
	padding: 10px;
}
.clear{
	clear: both;
}
.information{
	width: 100%;
}
.information th{
	text-align: center;
	font-size: 18px;
}
.information th,td{
	border-collapse: collapse;
	border: 1px solid black;
}
.information td{
	font-size: 14px;
	padding-left: 10px;
}
/*----page>>>login.php------*/
.loginpage{
	text-align: center;
	margin-top: 20px;
}
form[name=login] input{
	text-align: center;
	width: 30%;
	height: 30px;
	margin-top: 10px;
}